In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
train = pd.read_csv('train.csv')

In [ ]:
train['luxury'] = train.iloc[:, 6:12].sum(axis = 1)

In [ ]:
train.sample(frac=1).reset_index(drop=True)
y = train.pop('Transported')
X = train.drop(columns = ['Name', 'PassengerId', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck'])

In [ ]:
subset = [ 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']
X.loc[:, subset] = X.loc[:, subset].fillna(method= 'ffill')

In [ ]:
X.Cabin = (X.Cabin).apply(lambda x: str(x).split("/")[0])

In [ ]:
X.isna().sum()

HomePlanet       0
CryoSleep        0
Cabin            0
Destination      0
Age            179
VIP              0
luxury           0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test  = train_test_split(X, y, test_size = 0.2 )

In [ ]:
X_train['Age'] = X_train['Age'].fillna(X_train['Age'].mean())

In [ ]:
X_train = pd.get_dummies(X_train, columns = ['HomePlanet', 'Cabin', 'Destination'])

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)

In [ ]:
X_train_scaled

array([[ 1.33727032,  0.85084976, -0.15296914, ..., -0.51438659,
        -0.32652716,  0.66336242],
       [-0.74779197, -0.12603816, -0.15296914, ..., -0.51438659,
        -0.32652716,  0.66336242],
       [-0.74779197,  1.33929372, -0.15296914, ...,  1.94406313,
        -0.32652716, -1.50747159],
       ...,
       [ 1.33727032, -0.96337066, -0.15296914, ..., -0.51438659,
         3.06253236, -1.50747159],
       [-0.74779197,  0.64151663, -0.15296914, ..., -0.51438659,
        -0.32652716,  0.66336242],
       [-0.74779197,  1.75795997, -0.15296914, ..., -0.51438659,
        -0.32652716,  0.66336242]])

In [ ]:
from sklearn.svm import SVC
regressor = SVC(kernel = 'rbf')
regressor.fit(X_train_scaled, y_train)

SVC()

In [ ]:
from sklearn.metrics import accuracy_score
#training accuracy
y_pred = regressor.predict(X_train_scaled)
accuracy_score(y_train, y_pred)

0.7412999712395744

In [ ]:
X_test
X_test['Age'] = X_test['Age'].fillna(X_test['Age'].mean())
X_test = pd.get_dummies(X_test, columns = ['HomePlanet', 'Cabin', 'Destination'])

In [ ]:
#test accuracy
scaler = StandardScaler()
X_test_scaled = scaler.fit_transform(X_test) 
y_pred = regressor.predict(X_test_scaled)

accuracy_score(y_test, y_pred)

0.7423806785508913

In [ ]:
####
###
##
#
Submit

In [ ]:
testt= pd.read_csv('test.csv')

In [ ]:
test['luxury'] = test.iloc[:, 6:12].sum(axis = 1)

In [ ]:
test = test.drop(columns = ['Name', 'PassengerId', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck'])

In [ ]:
subset = [ 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']
test.loc[:, subset] = test.loc[:, subset].fillna(method= 'ffill')

In [ ]:
test.Cabin = (test.Cabin).apply(lambda x: str(x).split("/")[0])

In [ ]:
test

,CryoSleep,Age,VIP,luxury,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,True,27.000000,False,0.0,1,0,0,0,0,0,0,0,0,1,0,0,0,1
1,False,19.000000,False,2832.0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
2,True,31.000000,False,0.0,0,1,0,0,0,1,0,0,0,0,0,1,0,0
3,False,38.000000,False,7418.0,0,1,0,0,0,1,0,0,0,0,0,0,0,1
4,False,20.000000,False,645.0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,True,34.000000,False,0.0,1,0,0,0,0,0,0,0,0,1,0,0,0,1
4273,False,42.000000,False,1018.0,1,0,0,0,0,0,0,0,0,1,0,0,0,1
4274,True,28.658146,False,0.0,0,0,1,0,0,0,1,0,0,0,0,1,0,0
4275,False,28.658146,False,3203.0,0,1,0,0,0,0,1,0,0,0,0,1,0,0
4276,True,43.000000,False,0.0,1,0,0,0,0,0,0,0,0,1,0,0,1,0

In [ ]:
test['Age'] = test['Age'].fillna(test['Age'].mean())

In [ ]:
test = pd.get_dummies(test, columns = ['HomePlanet', 'Cabin', 'Destination'])

In [ ]:
test_scaled.shape

(4277, 18)

In [ ]:
#test accuracy
scaler = StandardScaler()
test_scaled = scaler.fit_transform(test) 
y_pred = regressor.predict(test_scaled)

y_pred

array([ True, False,  True, ...,  True, False,  True])

In [ ]:
y_pred.shape

(4277,)

In [ ]:
submit = pd.DataFrame(
    {'PassengerId': testt.PassengerId, 'Transported': y_pred})

In [ ]:
submit.to_csv('Submit.csv',index= False)